body {
  background-color: #EEE;
}

#dialog {
  padding: 5px 20px;
  margin-bottom: 120px;
}

#dialog-text {
  width: 60%;
  height: 150px;
}

.triangle-obtuse {
  font-family: Arial;
  text-align: center;
  font-size: 1.2em;
}

.face {
  width: 96px;
  height: 96px;
  overflow:hidden;
  background-image: url("../faces/vxface02.png");
  border: 2px solid #444;
  border-radius: 4px;
}

.f1 .face{
  background-offset: 0 0;
}

.f2 .face {
  background-position: 96px 0;
}

.f3 .face {
  background-position: 192px 0;
}

.f4 .face {
  background-position: 288px 0;
}

.f5 .face{
  background-position: 0 96px;
}

.f6 .face {
  background-position: 96px 96px;
}

.f7 .face {
  background-position: 192px 96px;
}

.f8 .face {
  background-position: 288px 96px;
}

.right .face{
  float: right;
}

.right p {
  text-align: right;
}

.left .face{
  float: left;
}

.row{
  clear: both;
  width:650px;
}

#dialog p {
  margin: 20px 120px;
}
